@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
    --animate-infinite-scroll: infinite-scroll 30s linear infinite;
		--animate-div-cover: div-cover .5s linear;
		--animate-div-remove: div-remove .5s linear;
}

@keyframes infinite-scroll {
    to {
        left: -700px;
    }
}

@keyframes div-cover {
	0% {
		width: 100%;
		clip-path: circle(7% at left top);
	}
	100% {
		width: 100%;
		clip-path: circle(150% at left top);
	}
}

@keyframes div-remove {
	0% {
		width: 100%;
		clip-path: circle(150% at left top);
	}
	100% {
		width: 100%;
		clip-path: circle(7% at left top);
	}
}


@layer base {
    :root {
        --background: 120 8% 5%;
        --foreground: 208 0% 89%;
        --accent-color: 163 88% 76%;
    }

    *,
    ::before,
    ::after {
        @apply box-border;
        font-family: "Oswald", sans-serif;
    }
    html {
        @apply text-[hsl(var(--foreground))] bg-[hsl(var(--background))];
        @apply scroll-smooth;
    }
    body {
        @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))] font-light text-sm antialiased tracking-widest;
    }
}

#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

@utility coverlid {
	clip-path: circle(7% at left top);
}

@utility shade {
    @apply shadow-[0px_0_12px_rgba(173,255,226,0.5)]
}


@utility backg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("./assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@utility mobhero {
    width: 100%;
    aspect-ratio: 1.3;
    overflow: hidden;
    max-width: 530px;
}
@utility mobabout {
    width: 100%;
    height: 100%;
    font-size: 11px;
    max-width: 530px;
}
@utility mobskills {
    width: 100%;
    aspect-ratio: 7.1;
    overflow: hidden;
    max-width: 530px;
}
@utility mobproject {
    width: 100%;
    aspect-ratio: 1.8;
    overflow: hidden;
    max-width: 530px;
    background-image: url("./assets/car.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-mask-image: url("./assets/project.svg");
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}
@utility mobexp {
    width: 100%;
    aspect-ratio: 2;
    overflow: hidden;
    max-width: 530px;
    background-image: url("./assets/car.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-mask-image: url("./assets/exp.svg");
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}
@utility textEffect {
    width: 165px;
    aspect-ratio: 2.8;
    overflow: hidden;
    max-width: 530px;
    -webkit-mask-image: url("./assets/typeffect.svg");
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}
